extends layout

block content
  h1= title
  - let goatid = toShow._id
  - let goat_color = toShow.goat_color
  - let goat_size = toShow.goat_size
  - let goat_weight = toShow.goat_weight
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{goatid}
  - let actionid = "/resource/goat/" +goatid
  form(id='goatForm', action=actionid, method="PUT")
    div.form-group
      label.goatAttr(for='goat_color') Goat color
      input#goat_color(type='text', name='goat_color', value=goat_color)
    div.form-group
      label.goatAttr(for='goat_size') Goat type
      input#goat_size(type='text', name='goat_size', value=goat_size)
    div.form-group
      label.goatAttr(for='goat_weight') Goat cost
      input#goat_weight(type='number', name='goat_weight', value=goat_weight)
    input(type="submit")
  script.
    document.forms['goatForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method:'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert("Update succeeded");
          window.location.href = '/goat';
          // TODO handle body
        })
        .catch((error) => {
          // TODO handle error
          alert("Update failed " + error);
        });
    });
