extends layout

block content
  h1= title
  - let results = thegoats
  div(class="container-fluid")
    div(class="row")
      each item,index in results
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.goat_color}
          p size is #{item.size}
          p weight is #{item.weight}
          //- Bonus Logic
  script.
    function buy(thing) {
      thing = thing+1;
      alert(`You Purchased Item ${thing}`);
    }